version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - "internal"

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    labels:
      - "internal"
    groups:
      minor-and-patch:
        update-types:
          - minor
          - patch
      major:
        update-types:
          - major
